{{#> layouts/base title="샘플페이지" }}

    {{#*inline "body-block"}}
        <div class="container">
            <h1>안녕 게시물!!</h1>
        </div>
    {{/inline}}

    {{#*inline "script-block"}}
        <script>
            console.log("test");
        </script>
    {{/inline}}

{{/layouts/base}}